[submodule "circuit/geda-ESP8266"]
	path = circuit/geda-ESP8266
	url = https://github.com/markrages/geda-ESP8266
[submodule "circuit/kicad-footprints"]
	path = circuit/kicad-footprints
	url = https://github.com/KiCad/kicad-footprints
[submodule "circuit/kicad-ESP8266"]
	path = circuit/kicad-ESP8266
	url = https://github.com/jdunmire/kicad-ESP8266
[submodule "code/SensorsIot-Definitive-Guide-to-IR"]
	path = code/SensorsIot-Definitive-Guide-to-IR
	url = https://github.com/SensorsIot/Definitive-Guide-to-IR
